body, html {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #f3f3f3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
}

.time {
    font-size: 18px;
    color: #666;
}

.schedule {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.day {
    flex: 1;
    min-width: 180px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.current-day {
    background-color: #e0e0e0;
}

.card {
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.work-card {
    cursor: default;
}

.card:hover {
    transform: scale(1.05);
}

.card.expanded {
    max-height: 200px;
}

.card-content {
    display: flex;
    flex-direction: column;
}

/* Add this for the collapsing animation */
.card.expanded .card-content {
    transition: height 0.3s ease-in-out;
}

.card-details {
    display: none;
}

.card.expanded .card-details {
    display: block;
    transition: all 0.5s ease; /* Smooth and fluid effect */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-location {
    font-size: 14px;
}

.card-time {
    font-size: 12px;
    color: #666;
    display: inline;
}

.current-class {
    border: 2px solid #007bff;
}

.card-time span {
    display: block;
}

